<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ERIP_FTP_Transfer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ERIP_FTP_Transfer.Properties.Settings>
            <setting name="server" serializeAs="String">
                <value>178.159.242.97</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>admin_two</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>ws291290</value>
            </setting>
            <setting name="workingpath" serializeAs="String">
                <value>C:\ERIP\</value>
            </setting>
            <setting name="inPath" serializeAs="String">
                <value>in</value>
            </setting>
            <setting name="outPath" serializeAs="String">
                <value>out</value>
            </setting>
            <setting name="UsePassivemode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="archivepath" serializeAs="String">
                <value>archive</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="eripresultpath" serializeAs="String">
                <value>204</value>
            </setting>
            <setting name="bDeleteFiles" serializeAs="String">
                <value>False</value>
            </setting>
        </ERIP_FTP_Transfer.Properties.Settings>
    </userSettings>
</configuration>